*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.137)) ,url(https://www.carscoops.com/wp-content/uploads/2022/01/Rolls-Royce-Boat-Tail-main.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    display: flex;
    position: relative;
    padding: 36px 0px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color:#bbbab8 ;
}
.logo{
    width: 200px;
    cursor: pointer;
}
li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}
li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: all .5s;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 60px;
    word-spacing: 25px;
}
.content p{
    font-size: 25px;
    font-weight: 700;
    margin: 20px;
}
button{
    margin: 20px 10px;
    font-weight: bold;
    font-size: 40px;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all .5s;
}
button:hover{
    border-color: gray;
    color: gray;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: scale(1.1);
    transition: all .5s;


}
li:hover{
     transform: scale(1.05);
    transition:all .5s ;
    
}
li a:hover{
    color: gray;
}