*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.site{
    width: 100%;
    height: 3218px;
    background-color: #fefbf1;
}
.navbar{
    width: 100%;
    height: 61px;
    position: relative;
    top: 7px;

}
.navbar-text{
    display: flex;
    justify-content: center;
    gap:70px ;
}
.navbar-text span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #703412;
    margin-top: 27px;
}
.box-1{
    width: 100%;
    height: 572px;
    
   
}
.box-1 #p1{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 44px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    position: relative;
    top: 120px;
    left: 72px;
    color: #703412;
}
.box-1 #p2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    top: 120px;
    left: 72px;
    color: #703412;
}

.box-2{
    /* width: 100%;
    height: 1941px;
   background-color:bisque; */
   width: 1056;
height: 1941;
top: 633px;
opacity: 1;


}
.box-2 #p3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    top: -100px;
    left: 72px;
    color: #703412;

}

h1{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 41.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    left: 23px;
}
p{
           font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    left: 23px;




}




.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    position: relative;
    left: 48px;
    
}


.box-3{
width: 100%;
height: 1200px;
top: 2574px;
background-color: #084935;

}

img{
    border-radius:20px
}

.box-3 #box3p{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 9px;
    line-height: 41.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    top: 100px;
    left: 72px;
    color: #fff;
}
.box-3 #h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 41.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    top: 100px;
    left: 72px;
    color:#fff;
}
.box-3 #h11{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 41.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    top: 100px;
    left: 72px;
    color: #fff;
}

.pchalar{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 17.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    top: 300px;
    left: 50px;
    color: #fff;
}

.centerp{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 17.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    top: 118px;
    left: 400px;
    color: #fff;
}

.endp{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 17.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    top: 55px;
    left: 700px;
    color: #fff;
}
.ppp{
         font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 17.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    top: -5px;
    left: 900px;
    color: #fff;
}


.pasti{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 17.6px;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    top: 400px;
    left: 72px;
    color: #fff;

}






        